@charset "utf-8";
/* CSS Document */
/************************************************************************************************************************
                                                    global
*************************************************************************************************************************/
/* CSS Document */
html,
body,
div,
p,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
q,
pre,
a,
abbr,
acronym,
address,
cite,
del,
em,
img,
strong,
sub,
sub,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  line-height: 1.5;
  font: inherit;
  vertical-align: top;
  font-family: Helvetica, Arial, sans-serif;
}
a {
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
address,
caption,
cite,
em,
strong,
th {
  font-style: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
del {
  text-decoration: line-through;
}
button {
  border: 0;
  background: none;
  cursor: pointer;
}
:focus {
  outline: 0;
}
input,
button,
select {
  -webkit-appearance: none;
  border-radius: 0;
  background: none;
}
/******************
      变量
*******************/
.mar {
  width: 8.75rem;
  margin: 0 auto;
}
.fwb {
  font-weight: bold;
}
.fscolor {
  color: #333333;
}
.texa {
  text-align: center;
}
.aftercl {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.cl {
  clear: both;
}
.w {
  width: 100%;
}
.wHalf {
  width: 50%;
}
.h {
  height: 100%;
}
.hHalf {
  height: 50%;
}
.oh {
  overflow: hidden;
}
.trans {
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -ms-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
/******************
    全局设置
******************/
html,
body {
  min-height: 100%;
  position: absolute;
  width: 100%;
}
#root {
  width: 100%;
  min-height: 100%;
  position: absolute;
  background: url('../images/index.jpg') repeat center top;
  overflow: hidden;
}
.bottom-submit-btn {
  text-align: center;
  border: 0.03125rem solid #689db9;
  width: 8.75rem;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 0.3125rem auto 1.25rem;
}
.bottom-submit-btn input {
  color: #01b6e1;
  width: 100%;
  display: block;
  margin: 0 auto;
  line-height: 1.5;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  font-size: 0.75rem;
}
.back-btn {
  width: 100%;
  height: 0.9375rem;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 0.3125rem;
}
.back-btn img {
  width: 0.625rem;
}
.fade-leave-active {
  transform: translateX(-100%);
  opacity: 0.5;
}
.fade-leave-active {
  transition: all 0.2s ease;
}
.fade-enter {
  transform: translateX(100%);
  opacity: 0.5;
}
.fade-enter-active {
  transition: all 0.5s ease;
}
/******
banner
*********/
#banner {
  width: 100%;
  height: 6.25rem;
  color: #fff;
  background: url("../images/banner-bg2.png") no-repeat center bottom;
  background-size: 100% auto;
}
#banner h2 {
  padding: 1.5625rem 0.625rem 0.3125rem;
  font-size: 0.5rem;
  text-align: center;
}
#banner p {
  padding: 0 0.625rem;
  font-size: 0.6875rem;
  text-align: center;
}
/************
  表格部分
*************/
.w-65 {
  width: 2.03125rem;
}
.w-130 {
  width: 4.0625rem;
}
.w-140 {
  width: 4.375rem;
}
.w-205 {
  width: 6.40625rem;
}
.mr-10 {
  margin-right: 0.3125rem;
}
#basic-form-container {
  padding: 0.46875rem 0;
}
#basic-form-container li {
  margin-bottom: 0.15625rem;
}
#basic-form-container li:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
}
#basic-form-container li > div {
  float: left;
  background: #fff;
}
#basic-form-container li > div > div {
  box-sizing: border-box;
  border: 1px solid #9b9b9b;
  line-height: 0.9375rem;
  padding: 0 0.1875rem;
}
#basic-form-container li select,
#basic-form-container li input {
  display: block;
  width: 100%;
  border: none;
  font-size: 0.46875rem;
  color: #999999;
}
#basic-form-container li select {
  height: 0.9375rem;
  line-height: 0.9375rem;
  padding: 0;
}
#basic-form-container li select option {
  color: #999999;
}
#basic-form-container li input {
  height: 0.6875rem;
  line-height: 0.6875rem;
  padding: 0.125rem 0;
}
#basic-form-container li ::-webkit-input-placeholder {
  color: #999999;
}
#basic-form-container li :-moz-placeholder {
  color: #999999;
}
#basic-form-container li ::-moz-placeholder {
  color: #999999;
}
#basic-form-container li :-ms-input-placeholder {
  color: #999999;
}
#basic-form-container li .checkInput.error {
  border: 0.03125rem solid #990000;
}
#basic-form-container p {
  font-size: 0.375rem;
  color: #333333;
  text-align: right;
  padding-top: 0.1875rem;
}
/************************************
          题目
**********************************/
.question-list > ul > li {
  margin-bottom: 0.25rem;
  padding: 0.46875rem 0;
  font-size: 0.375rem;
  border-bottom: 1px solid #fff;
}
.options ul:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
}
.options ul li {
  width: 50%;
  float: left;
  margin-bottom: 0.15625rem;
}
.options ul li input {
  display: none;
}
.options ul li input + label {
  display: block;
  padding-left: 25px;
  background: url("../images/img11-9-3.jpg") no-repeat left center;
  background-size: 0.46875rem;
}
.options ul li input:checked + label {
  background: url("../images/img11-9-3s.jpg") no-repeat left center;
  background-size: 0.46875rem;
}
.options.li-whole ul li {
  width: 100%;
}
.question {
  margin-bottom: 0.1875rem;
}
.select-after {
  position: relative;
}
.select-after:before {
  display: block;
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: url("../images/img-11-12-img4.png") no-repeat center;
  background-size: 100% 100%;
  right: 0.15625rem;
  top: 0.3125rem;
}
